<html>
    <head>
        <title>dehine's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">dehine's blog</a></h1>
        </div>

        <div>
            <p>published: 4.04.2017</p>
            <h2><a href="">My first post</a></h2>
            <p>This here website you're looking at is my first attempt at web development from the ground up.

              I began self-educating as a programmer July 2016 following the sequence of courses advised by the Google Guide to Technical Development.

              Those classes have given me proficiency in python.  Lately, I have been working through C++.  I hope to soon return to python work on an app for goodreads that will clone functionality from two of my favorite sites, last.fm and librarything, and apply those methods to goodreads.

            -dehine</p>
        </div>

    </body>
</html>
